# Các file Python cache
__pycache__/
*.py[cod]
*$py.class

# Các file môi trường ảo
venv/
env/
.env

# Các file dữ liệu/model nặng (thường không nên đẩy lên git)
artifacts/

# Các file hệ thống
.DS_Store
.vscode/
.idea/